/* Start */

*{
margin: 0%;
padding: 1%;

box-sizing:border-box;
font-family:cursive;
color:aqua ;

}
body{
background-color: brown;
width: 100%;
height: 10%;
text-align: center;
color:green !important;
}
h1{
background-color: black;
color: blue;
}
.heading{
color: chartreuse;
background-color: 
darkred;


}






